<div class="container">
    <aside class="container-aside">
        <% if(url === '/time_monitoring'){%>
            <div class="container-aside-list">
                <label for="employee">Attendance</label>
                <div class="container-aside-list-dropdown <%if(url.includes('/time_monitoring')){%> active <% }%>  ">
                    <a href="/time_monitoring">
                        <i class="fa-solid fa-chart-bar"></i>
                        <label for="">Time In & Out</label>
                    </a>
                </div>
            </div>
        <% }else{ %>  
        <div class="container-aside-list">
            <label for="employee">Dashboard</label>
            <div class="container-aside-list-dropdown <%if(url === '/'){%> active <% }%>  ">
                <a href="/">
                    <i class="fa-solid fa-chart-bar"></i>
                    <label for="">Dashboard</label>
                </a>
            </div>
        </div>
        <div class="container-aside-list">
            <label for="employee">Employee Management</label>
            <div class="container-aside-list-dropdown <%if(url === '/employees'){%> active <% }%>   ">
                <a href="/employees">
                    <i class="fa-solid fa-user"></i>
                    <label for="">Employees</label>
                </a>
            </div>
        </div>
        <div class="container-aside-list">
            <label for="employee">Payroll Management</label>
            <div class="container-aside-list-dropdown <%if(url === '/payroll'){%> active <% }%>  ">
                <a href="#">
                    <i class="fa-solid fa-receipt"></i>
                    <label for="">Payment</label>
                </a>
            </div>
        </div>
        <div class="container-aside-list">
            <label for="payroll">Attendance Management</label>
            <div class="container-aside-list-dropdown">
                <a href="#">
                    <i class="fa-solid fa-calendar-check"></i>
                    <label for="">Records</label>
                </a>
            </div>
        </div><div class="container-aside-list">
            <label for="payroll">Settings</label>
            <div class="container-aside-list-dropdown">
                <a href="#">
                    <i class="fa-solid fa-sliders"></i>
                    <label for="">Accounts</label>
                </a>
            </div>
        </div>
        <% } %> 
    </aside>



