<div class="container">
    <aside class="container-aside">
        <div class="container-aside-list">
            <label for="employee">Dashboard</label>
            <div class="container-aside-list-dropdown active">
                <a href="#">
                    <i class="fa-solid fa-chart-area"></i>
                    <label for="">Dashboard</label>
                </a>
            </div>
        </div>
        <div class="container-aside-list">
            <label for="employee">Employee</label>
            <div class="container-aside-list-dropdown">
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <label for="">Employee List</label>
                </a>
            </div>
        </div>
        <div class="container-aside-list">
            <label for="employee">Payroll</label>
            <div class="container-aside-list-dropdown">
                <a href="#">
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                    <label for="">Payment</label>
                </a>
            </div>
        </div>
        <div class="container-aside-list">
            <label for="payroll">Attendance</label>
            <div class="container-aside-list-dropdown">
                <a href="#">
                    <i class="fa-solid fa-calendar-check"></i>
                    <label for="">Records</label>
                </a>
            </div>
        </div>
    </aside>
