<div class="container">
    <aside class="container-aside">
            <div class="container-aside-list">
                <label for="employee">Attendance</label>
                <div class="container-aside-list-dropdown">
                    <a href="/time_monitoring">
                        <i class="fa-solid fa-chart-bar"></i>
                        <label for="">Time In & Out</label>
                    </a>
                </div>
            </div>
    </aside>