<%-include('partials/Header')%>
<style>
    .form-control, .btn {font-size: 14px; border-left: 0px; border-right: 0px;}
</style>
<main class="d-flex flex-nowrap justify-content-center align-items-center" style=" height: 100vh">
    <div class="d-flex flex-column justify-center align-items-center container py-5 px-5 gap-2" style="width: auto">
        <div>
            <img src="/img/bfar-logo.png" alt="" style="width: 150px">
            <img src="/img/niftc.png" alt="" style="width: 150px">
        </div>
        <h1 style="font-size: 3rem">404 Page Not Found :)</h1>
        <a class="btn btn-primary" href="http://localhost:3000/"> GO HOME</a>
    </div>
    
</main>


<%-include('partials/Footer')%>