<%-include('partials/Header')%>
<style>
    .form-control, .btn {font-size: 14px; border-left: 0px; border-right: 0px;}
</style>
<main class="d-flex flex-nowrap justify-content-center align-items-center" style=" height: 100vh">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
              </p>
            <a href="/admin/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
    
</main>


<%-include('partials/Footer')%>