<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<link rel="stylesheet" href="/styles/newEmployee.css">
<main class="d-flex flex-nowrap" style=" height: 100vh; overflow: auto; align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Employees </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>
    <%-include('partials/Modal') %> 
    <form class="empFormEl">
        <div> 
            <div class="empForm rounded-1">
                <div class="cardForm rounded-1">
                    <div class="cardForm__title mb-3">
                        <h1>Personal Information</h3>
                    </div>

                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="fname"> First Name</label>
                            <input type="text" name="fname" placeholder="First Name">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="mname"> Middle Name</label>
                            <input type="text" name="mname" placeholder="Middle Name">
                        </div>
                    </div>

                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="lname"> Last Name</label>
                            <input type="text" name="lname" placeholder="Middle Name">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="gender"> Gender</label>
                            <select class="custom-select" name="gender" id="genderSelect">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="status"> Civil Status</label>
                            <select class="custom-select" name="civstatus" id="civilStatusSelect">
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="height"> Height(CM)</label>
                            <input type="number" step="any" name="height" placeholder="Height">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="weight"> Weight(Pounds)</label>
                            <input type="number" step="any" name="weight" placeholder="Weight">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="email"> Email Address(Personal)</label>
                            <input type="email" step="any" name="email_personal" placeholder="Personal Email">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="mobile"> Mobile Number</label>
                            <input type="number" step="any" name="contact_personal" placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="age"> Age</label>
                            <input type="number" name="age" placeholder="Age">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="natlid"> National ID</label>
                            <input type="text" name="natl_id" placeholder="National ID">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="dbirth"> Date of Birth</label>
                            <input type="date" name="date_of_birth" placeholder="Date of Birth">
                        </div>
        
                        <div class="inputDiv1__input">
                            <label for="pbirth"> Place of Birth</label>
                            <input type="text" name="place_of_birth" placeholder="Place of Birth">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="image"> Upload Profile Photo</label>
                            <input type="file" name="image" placeholder="Upload Image">
                        </div>
        
                    </div>
                </div>
                
                <div class="cardForm">
                    <div class="cardForm__title">
                        <h1>Employee Details</h3>
                    </div>
                    <div class="cardForm__subTitle mb-3">
                        <h1><b>Designation</b></h1>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="company"> Company</label>
                            <input type="text" name="company" placeholder="Company">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="companyloc"> Company Location</label>
                            <input type="text" name="company_location" placeholder="Company Location">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="designation"> Job Title/Designation</label>
                            <input type="text" name="designation" placeholder="Job Title/Designation">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="empcode"> ID Number</label>
                            <input type="number" name="empcode" placeholder="ID Number">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="rfid"> RFID</label>
                            <input type="number" name="rfid" placeholder="RFID">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="designation"> Email Address(Company)</label>
                            <input type="text" name="email_company" placeholder="Company Email">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="leavegroup"> Leave Group</label>
                            <input type="text" name="leavegroup" placeholder="Leave Group">
                        </div>
                        <div class="cardForm__subTitle mb-3">
                            <h1><b>Employment Information</b></h1>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="employmenttype"> Employment Type</label>
                            <select class="custom-select" name="employment_type" id="empTypeSelect">
                                <option value="permanent">Permanent</option>
                                <option value="contractual">Job Order/Contractual</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="employmentstatus"> Employment Status</label>
                            <select class="custom-select" name="employment_status" id="empStatusSelect">
                                <option value="active">Active</option>
                                <option value="archive">Archive</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="dstart"> Date Started</label>
                            <input type="date" name="date_hired" placeholder="Date Started">
                        </div>
                        <div class="cardForm__subTitle mb-3">
                            <h1><b>Salary</b></h1>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="rfid"> Salary</label>
                            <input type="number" steps="any" name="monthly_salary" placeholder="Monthly Rate">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="empBtn d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Add Employee
                </button>
                <!-- cancel button -->
            </div>
            
        </div>
    </form>
    
</div>



</main>



<%-include('partials/Footer')%>


<script>
    //datatable
    $(document).ready(function () {
    $('#mainTable').DataTable();
    });

    const form = document.querySelector('.empFormEl');
    
    form.addEventListener('submit', async(e) => {
        e.preventDefault();
        let doc = {}
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);
        console.log(data);
        
        doc = {
            personal_information:{
                fname: data.fname,
                mname: data.mname,
                lname: data.lname,
                name: '',
                gender: data.gender,
                civstatus: data.civstatus,
                height: data.height,
                weight: data.weight,
                email_personal: data.email_personal,
                contact_personal: data.contact_personal,
                age: data.age,
                natl_id: data.natl_id,
                date_of_birth: data.date_of_birth,
                place_of_birth: data.place_of_birth,
                avatar: data.image.name,
            },
            employee_details:{
                designation:{
                    company: data.company,
                    company_location: data.company_location,
                    designation: data.designation,
                    id: data.empcode,
                    rfid: data.rfid,
                    email_company: data.email_company,
                    leavegroup: data.leavegroup,
                },
                employment_information:{
                    employment_type: data.employment_type,
                    employment_status: data.employment_status,
                    date_hired: data.date_hired,
                },
                salary_details:{
                    monthly_salary: data.monthly_salary,
                }
            }
        }

        const res = await fetch('http://localhost:3000/admin/api/employees', {
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(doc),
            method: 'POST'
        })
        const dbdata = await res.json()
    
        if (dbdata.result) console.log(dbdata.result)
        console.log(dbdata)
    });

</script>