<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<link rel="stylesheet" href="/styles/newEmployee.css">
<main class="d-flex flex-nowrap" style=" align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Employees </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>
    <%-include('partials/Modal') %> 
    <a href="javascript:;" onclick="autoFill()"> autofill</a>
    <form class="empFormEl">
        <div> 
            <div class="empForm rounded-1">
                <div class="cardForm rounded-1">
                    <div class="cardForm__title mb-3">
                        <h1>Personal Information</h3>
                    </div>

                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="fname"> First Name</label>
                            <input type="text" id="fname" name="fname" placeholder="First Name">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="mname"> Middle Name</label>
                            <input type="text" id="mname" name="mname" placeholder="Middle Name">
                        </div>
                    </div>

                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="lname"> Last Name</label>
                            <input type="text" id="lname" name="lname" placeholder="Middle Name">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="gender"> Gender</label>
                            <select class="custom-select" name="gender" id="genderSelect">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="status"> Civil Status</label>
                            <select class="custom-select" name="civstatus" id="civilStatusSelect">
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="height"> Height(CM)</label>
                            <input type="number" step="any" id="height" name="height" placeholder="Height">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="weight"> Weight(Pounds)</label>
                            <input type="number" step="any" id="weight" name="weight" placeholder="Weight">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="email"> Email Address(Personal)</label>
                            <input type="email" step="any" id="email_personal" name="email_personal" placeholder="Personal Email">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="mobile"> Mobile Number</label>
                            <input type="number" step="any" id="contact_personal" name="contact_personal" placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="homeadd"> Home Address</label>
                            <input type="text" id="home_address" name="home_address" placeholder="Home Address">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="age"> Age</label>
                            <input type="number" id="age" name="age" placeholder="Age">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="natlid"> National ID</label>
                            <input type="text" id="natl_id" name="natl_id" placeholder="National ID">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="dbirth"> Date of Birth</label>
                            <input type="date" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth">
                        </div>
        
                        <div class="inputDiv1__input">
                            <label for="pbirth"> Place of Birth</label>
                            <input type="text" id="place_of_birth" name="place_of_birth" placeholder="Place of Birth">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="image"> Upload Profile Photo</label>
                            <input type="file" name="image" placeholder="Upload Image">
                        </div>
        
                    </div>
                </div>
                
                <div class="cardForm">
                    <div class="cardForm__title">
                        <h1>Employee Details</h3>
                    </div>
                    <div class="cardForm__subTitle mb-3">
                        <h1><b>Designation</b></h1>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="company"> Company</label>
                            <input type="text" id="company" name="company" placeholder="Company">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="companyloc"> Company Location</label>
                            <input type="text" id="company_location" name="company_location" placeholder="Company Location">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="companyadd"> Company Address</label>
                            <input type="text" id="company_address" name="company_address" placeholder="Company Address">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="designation"> Job Title/Designation</label>
                            <input type="text" id="designation" name="designation" placeholder="Job Title/Designation">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="empcode"> ID Number</label>
                            <input type="number" id="empcode" name="empcode" placeholder="ID Number">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="rfid"> RFID</label>
                            <input type="number" id="rfid" name="rfid" placeholder="RFID">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="designation"> Email Address(Company)</label>
                            <input type="text" id="email_company" name="email_company" placeholder="Company Email">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="leavegroup"> Leave Group</label>
                            <input type="text" id="leavegroup" name="leavegroup" placeholder="Leave Group">
                        </div>
                        <div class="cardForm__subTitle mb-3">
                            <h1><b>Employment Information</b></h1>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="employmenttype"> Employment Type</label>
                            <select class="custom-select" name="employment_type" id="empTypeSelect">
                                <option value="permanent">Permanent</option>
                                <option value="contractual">Job Order/Contractual</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="employmentstatus"> Employment Status</label>
                            <select class="custom-select" name="employment_status" id="empStatusSelect">
                                <option value="active">Active</option>
                                <option value="archive">Archive</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="dstart"> Date Started</label>
                            <input type="date" id="date_hired" name="date_hired" placeholder="Date Started">
                        </div>
                        <div class="cardForm__subTitle mb-3">
                            <h1><b>Salary</b></h1>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="rfid"> Salary</label>
                            <input type="number" id="monthly_salary" steps="any" name="monthly_salary" placeholder="Monthly Rate">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="empBtn d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Add Employee
                </button>
                <!-- cancel button -->
            </div>
            
        </div>
    </form>
    
</div>



</main>



<%-include('partials/Footer')%>
<script src="/scripts/addEmployee.js" type="text/javascript"></script>

<script>
 
</script>