<%-include('partials/Header')%>
    <%-include('partials/Nav') %>
        <%-include('partials/Aside')%>

            <main>
                <div class="container dashboard">
                    <div class="employees">
                        <div class="employee-query components box-shadow">
                            <h1> <a href="/admin/employees">Holidays</a>  / Add employee</h1>
                            <div class="employee-query-search">
                                <form novalidate role="search">
                                    <button>
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                    <input type="text" placeholder="Type your query here and press enter">
                                </form>
                            </div>
                        </div>
                    <div class="employee-container box-shadow components">
                        <div class="head">
                            <div class="title">
                                Add holidays
                            </div>
                        </div>
                        
                        <div class="add">
                            <form class="submit">
                                <div class="section">
                                        <div>
                                            <div class="label-ico">
                                                <label for="fullname">Holiday Name *</label> <i class="fa-regular fa-circle-question"></i>
                                            </div>
                                            <input type="text" placeholder="Holiday Name" name="name" class="box-shadow" id='holidayName'>
                                            <label for="error" class="fname-error error">a</label>
                                        </div>
                                        <div>
                                            <div class="label-ico">
                                                <label for="predate">Preqrequisite Date *</label> <i title="date an employee must attend" class="fa-regular fa-circle-question"></i>
                                            </div>
                                            <input type="date" placeholder="Preqrequisite Date" name="predate" class="box-shadow" >
                                            <label for="error" class="predate-error error">a</label>
                                        </div>
                                        <div>
                                            <div class="label-ico">
                                                <label for="date">Requisite Date *</label> <i title="date of holiday" class="fa-regular fa-circle-question"></i>
                                            </div>
                                            <input type="date" placeholder="Requisite Date" name="date" class="box-shadow">
                                            <label for="error" class="date-error error">a</label>
                                        </div>
                                </div>
                                
                                <div>
                                    <button class="button-submit add-emp-btn">Save this event</button>
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>
                    </div>
                </div>
            </main>
            <script>
                let form = document.querySelector('.submit')
                const fnameErr = document.querySelector('.fname-error')
                const idErr = document.querySelector('.id-error')
                const preDateErr = document.querySelector('.predate-error')
                const dateErr = document.querySelector('.date-error')

                const idInput = document.querySelector('#idNo')
                const holidayNameInput = document.querySelector('#holidayName')

                // var typingTimer;                //timer identifier
                // var doneTypingInterval = 1000;  //time in ms, 5 seconds for example 
                // let result = ''
                // let data = ''

                // const fetchEmployees = async () => {
                //     result = await fetch(`http://localhost:3000/admin/api/employees`)
                //     data = await result.json()
                // } 
                // // fetch employees onload
                // fetchEmployees()

                // idInput.addEventListener('keyup', ()=>{
                //     clearTimeout(typingTimer);
                //     typingTimer = setTimeout(doneTyping, doneTypingInterval);
                //     fNameInput.value = ''
                //     // check if input is a number
                //     if(!isNaN(idInput.value)){
                //         fnameErr.textContent = 'fetching data....'
                //     }
                // })

                // idInput.addEventListener('keydown', ()=>{
                //     clearTimeout(typingTimer);
                // })

                // const doneTyping = ()=>{
                //     let id = idInput.value
                //     if(data){
                //         (data.result).forEach(emp=>{
                //             // if matched, display name in the textfield
                //             if(id === emp.emp_code){
                //                 console.log(id === emp.emp_code)
                //                 fnameErr.textContent = ''   
                //                 fNameInput.value = emp.name
                //             }
                //             // error if did not match
                //             if(fNameInput.value === '' || fNameInput.value === null || !fNameInput.value){
                //                 fnameErr.textContent = 'cannot find any data with this id'
                //             }
                //         })
                //         id = ''
                //     }
                // }

                form.addEventListener('submit', async (e) => {
                    e.preventDefault();
                    const doc = {
                        name : form.name.value,
                        predate : form.predate.value,
                        date : form.date.value,
                    }
                    console.log('client 1:', doc)
                    const res = await fetch('http://localhost:3000/admin/api/events/holiday',{
                        headers:{'Content-Type': 'application/json'},
                        body: JSON.stringify(doc),
                        method: 'POST'
                    })

                    const data = await res.json()
                
                    if(data) console.log('response:', data)
                    if(data.err) {
                        fnameErr.textContent = data.err.name
                        preDateErr.textContent = data.err.preDate
                        dateErr.textContent = data.err.date
                    }
                })


            </script>
            <%-include('partials/Footer')%>