<%-include('partials/Header')%>
    <%-include('partials/Nav') %>
        <%-include('partials/Aside')%>

            <main>
                <div class="container dashboard">
                    <div class="employees">
                        <div class="employee-query components box-shadow">
                            <h1> <a href="/admin/employees">Holidays</a>  / Add employee</h1>
                            <div class="employee-query-search">
                                <form novalidate role="search">
                                    <button>
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                    <input type="text" placeholder="Type your query here and press enter">
                                </form>
                            </div>
                        </div>
                    <div class="employee-container box-shadow components">
                        <div class="head">
                            <div class="title">
                                Add holidays
                            </div>
                        </div>
                        
                        <div class="add">
                            <form class="submit">
                                <div class="section">
                                        <div>
                                            <div class="label-ico">
                                                <label for="fullname">Holiday Name *</label> <i class="fa-regular fa-circle-question"></i>
                                            </div>
                                            <input type="text" placeholder="Holiday Name" name="name" class="box-shadow" id='holidayName'>
                                            <label for="error" class="fname-error error">a</label>
                                        </div>
                                        <div>
                                            <div class="label-ico">
                                                <label for="predate">Preqrequisite Date *</label> <i title="date an employee must attend" class="fa-regular fa-circle-question"></i>
                                            </div>
                                            <input type="date" placeholder="Preqrequisite Date" name="predate" class="box-shadow" >
                                            <label for="error" class="predate-error error">a</label>
                                        </div>
                                        <div>
                                            <div class="label-ico">
                                                <label for="date">Requisite Date *</label> <i title="date of holiday" class="fa-regular fa-circle-question"></i>
                                            </div>
                                            <input type="date" placeholder="Requisite Date" name="date" class="box-shadow">
                                            <label for="error" class="date-error error">a</label>
                                        </div>
                                </div>
                                
                                <div>
                                    <button class="button-submit add-emp-btn">Save this event</button>
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>
                    </div>
                </div>
            </main>
            <script src="/scripts/addHoliday.js" type="text/javascript"></script>
            <%-include('partials/Footer')%>