<%-include('partials/Header')%>
    <div class="container">
        <aside class="container-aside">
            <div class="container-aside-title">
                <h1>BFAR-EMS</h1>
            </div>
            <div class="container-aside-list">
                <label for="employee">Employee</label>
                <div class="container-aside-list-dropdown">
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                        <label for="">Employee Record</label>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
            <div class="container-aside-list">
                <label for="employee">Payroll</label>
                <div class="container-aside-list-dropdown">
                    <a href="#">
                        <i class="fa-solid fa-money-bill-1-wave"></i>
                        <label for="">Pay</label>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="container-aside-list">
                <label for="payroll">Attendance</label>
                <div class="container-aside-list-dropdown">
                    <a href="#">
                        <i class="fa-solid fa-calendar-check"></i>
                        <label for="">Records</label>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </aside>
    </div>
    <%-include('partials/Footer')%>