<%-include('partials/Header')%>
<%-include('partials/Nav') %> 
<%-include('partials/Aside')%>

<main>
    <div class="container dashboard">
        <div class="dashboard-total-res">
            <div class="box box-shadow">
                <h1 for="">Total Employee</h1>
                <i class="fa-solid fa-people-group blue-circle blue-bg"></i>
            </div>
            <div class="box box-shadow">
                <h1 for="">LOREM IPSUM</h1>
            </div>
            <div class="box box-shadow">
                <h1 for="">LOREM IPSUM</h1>
                
            </div>
        </div>
    </div>
</main>


<%-include('partials/Footer')%>