<%-include('partials/Header')%>
<div class="container-auth">
    <div class='head-banner'>
        <img class="head-banner-bfar-bg" src='img/coralbacknew1.png'/>
        <img class="head-banner-bfar-text" src='img/text.png'/>
        <img class="head-banner-bfar-logo" src='img/bfar-logo.png' />
    </div>
    <div class='main-auth'>
        <div class='auth-title'>
            <h1>Login</h1>
            <label for="subtitle">Welcome back! Please login to continue</label>
        </div>
        <div class='auth-form'>
            <form>
                <div class="email">
                    <label For="email" >Email Address</label>
                    <input type='text' name="email"></input>
                    <label for="error" class="email error" ></label>
                </div>
                <div class="password">
                    <label for="password">Password</label>
                    <input type='password' name="password"></input>
                    <label for="error" class="password error" ></label>
                </div>
                <button class="button-submit" onclick="submitFunc('login')">Login</button>
                <a href="#"> Forget Password? </Link>
            </form>
        </div>
    </div>
</div>

<%-include('partials/Footer')%>
