<%-include('partials/Header')%>
    <%-include('partials/Nav') %>
        <%-include('partials/Aside')%>
<main>
    <div class="container dashboard">
        <div class="employees">
            <div class="employee-query components box-shadow">
                <h1>Payroll Accounts</h1>
                <div class="employee-query-search">
                    <form novalidate role="search">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" placeholder="Type your query here and press enter">
                    </form>
                </div>
            </div>
            <div class="employee-container components box-shadow">
                <table class="employee-table">
                    <tr>
                        <th>Employee Code</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>No. of Days</th>
                        <th>No. of Hours</th>
                        <th>Net Pay</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    
                </table>
            </div>
            <form novalidate role="search">
                <label for="birthday">From:</label>
                <input type="date" id="fromdate" name="fromdate">
                <label for="birthday">To:</label>
                <input type="date" id="todate" name="todate" >
            </form>
            <button class="button-submit find">Find</button>
            <script>
                const splitDate = (date)=>{
                    const splitDate = date.split('-')
                    const month = splitDate[2]
                    const day = splitDate[1]
                    const year = splitDate[0]
                    const newDate = `${month}/${day}/${year}`
                    return newDate
                }
                const inputFromDate = document.querySelector('#fromdate')
                const inputToDate = document.querySelector('#todate')
                inputFromDate.valueAsDate = new Date()
                inputToDate.valueAsDate = new Date()
                const btnSubmit = document.querySelector('.find')
                btnSubmit.addEventListener('click', async (e)=>{
                    fromDate = inputFromDate.value
                    toDate = inputToDate.value
                    console.log(fromDate, toDate)
                    console.log(fromDate)
                    console.log(toDate)
                    const res = await fetch(`/admin/payroll_get?from=${fromDate}&to=${toDate}`, {
                        headers: {'Content-Type': 'application/json'},
                        method:'get'
                    })
                    const data = await res.json()
                    console.log(data)
                })
                
            </script>
        </div>
    </div>
</main>
<%-include('partials/Footer')%>