<%-include('partials/Header')%>

<link rel="stylesheet" href="/styles/timeAttendance.css">
<div class="wrapper">
    <main>
        <form action="javascript:void(0)">
        <div class="shadow container rounded-1">
            <div class="timeButton">
                <div class="timeInEl bg-box-secondary-color rounded-1 selected" data-id="timein">Time In</div>
                <div class="timeOutEl bg-box-secondary-color rounded-1 " data-id="timeout">Time Out</div>
            </div>
        </div>
    
        <div class="timeDate">
            <label for="" class = "time"><%=currentTime%></label>
            <label for="" ><%=currentDate%></label>
        </div>
    
        <div class=" shadow container main rounded-1">
            <div class="imgContainer">
                <div class="imgSubContainer rounded-1">
                    <img src="/img/no-image.png" alt="PROFILE" class="img">
                </div>
                <div class="infoSubContainer rounded-1">
                    <label for="" class="name" >NAME</label>
                    <div class="name">
                        <label for="" class="labelName">~</label>
                    </div>
        
                    <label for="" class="id">ID</label>
                    <div class="id">
                        <label for="" class="labelId">~</label>
                    </div>
        
                    <label for="" class="rfid">RFID</label>
                    <div class="rfid">
                        <label for="" class="labelName">~</label>
                    </div>
                </div>
            </div>
            <div class="container idInput">
                <div class="inputId">
                    <input class="inputElId" type="text" name="empid" id="" placeholder="Enter your ID" onblur="this.focus()" autofocus autocomplete="off">
                </div>
                <button type="submit" class="subBtn">Punch</button>
                <div class="message" >
                    <label for="" class="labelMessage">BFAR EMS</label> 
                </div>
                <label for="" class="timeType"></label>
                <label for="" hidden class="inputType"></label>
            </div>
        </div>
        </form>
        
    </main>
    <script src="/assets/onscan.min.js"></script>
    <script src="/scripts/timeAttendance.js"></script>
    
</div>
<%-include('partials/Footer')%>