<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/viewEmployee.css">
<main class="d-flex flex-nowrap" style=" height: 100vh; overflow: auto; align-self: center;">

<%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Employee Information</b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>
    <%-include('partials/Modal') %> 
    <div class="info-wrapper">
        <div class="info-left">
            <div class="info-left__sub">
                <div class="info__head">
                    <img src="/img/pfp2.jpg" alt="#">
                    <h1>Ken GErvacio</h1>
                </div>
                <div class="info__main">
                    <div class="main__subdiv">
                        <div>Email</div>
                        <div>johnkgervacio@gmail.com</div>
                    </div>
                    <div class="main__subdiv">
                        <div>Mobile No.</div>
                        <div>09123456789</div>
                    </div>
                    <div class="main__subdiv">
                        <div>Employee ID</div>
                        <div>233222</div>
                    </div>
                    <div class="main__subdiv">
                        <div>RFID</div>
                        <div>23232</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-right">
            <div class="info-right__sub">
                <div class="info__head">
                    <h1>Employee Information</h1>
                </div>
                <div class="info__main">
                    <div class="main__subdiv">
                        <div>Civil Status</div>
                        <div for="content">Single</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="age">Age</div>
                        <div for="content">21</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="height">Height</div>
                        <div for="content">167</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="weight">Weight</div>
                        <div for="content">61</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="gender"> Gender</div>
                        <div for="content">Male</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="dateofbirth">Date of Birth</div>
                        <div for="content">Single</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="placeofbirth">Place of Birth</div>
                        <div for="content">Single</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="homeadd">Home Address</div>
                        <div for="content">BRGY TANDO</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="natlid">National ID</div>
                        <div for="content">203232</div>
                    </div>
                    <div class="main__subheader">
                        <div class="subheader__container">
                            <label for="" class="">Designation</label>
                        </div>
                    </div>
                    <div class="main__subdiv">
                        <div for="company">Company</div>
                        <div for="content">BFAR</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="designation">Designation</div>
                        <div for="content">FULL STACK</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="employment_type">Employment Type</div>
                        <div for="content">Permanent</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="employment_status">Employment Status</div>
                        <div for="content">Active</div>
                    </div>
                    <div class="main__subdiv">
                        <div for="date_started">Date Started</div>
                        <div for="content">10/11/2023</div>
                    </div>
                    <div class="main__subheader">
                        <div class="subheader__container">
                            <label for="" class="">Salary</label>
                        </div>
                    </div>
                    <div class="main__subdiv">
                        <div for="salary">Monthly Salary</div>
                        <div for="content">PHP 20,000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>



<%-include('partials/Footer')%>
