@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #67668A;
}

body{
    font-family: 'Barlow', sans-serif !important;
    background-color: #FFFEFE;
    color: #67668A; 
    letter-spacing: .01rem;
}
a{
    color: #656488;
}
.nav-link{
    color:#656488;
}

.nav-link:hover{
    color:#424158;
}
table{
    border-collapse: collapse;
}
h1{
    font-size: 18px;
}
p{
    font-size: 14px;
}
p.error{
    margin: 0;
}

/* modal */
.modalSpan{
    font-size: 35px;
}

.modal button.close{
    border: 0;
    width: 35px;
    background-color: #FFFEFE;
}

input, .form-control, input:focus, .form-control:focus{
    outline-color: #656488;
    color: #656488;
}
.btn-primary{
    background-color: #656488;
    color: #FFFEFE;
    border: 1px solid #656488;
}
.btn-primary:hover, .btn-primary:active:hover, .btn-primary:active:focus{
    background-color: #424158;
    border: 1px solid #424158;
}


.container{
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    padding: 0;
}


.bg-box-primary-color{
    background-color: #656488;
    color: #FFFEFE;
}

.bg-box-secondary-color{
    background-color: #FFFEFE;
    color: #656488;
}

.font-primary{
    color: #656488;
}

.font-secondary{
    color: #FFFEFE;
}

.font-error{
    color: #FF3401;
}

.font-success{
    color: #2ecc71;
}

.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(101, 100, 136, .25);
}
.filterContainer{
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    padding: 0;
    padding: 15px;
    margin-top: 25px;
}
.filterContainer form{
    gap: .75em;
    display: flex;
    align-items: center;
}

.filterContainer .btn-primary{
    padding: .3em 1em ;
    background-color: #656488;
    border:0 ;
    font-size: .9rem;
}
.filterContainer .input-group{
    width: auto;
}
.filterContainer .input-group-text{
    background-color: #FFFEFE;
    border: 1px solid #dddddd;
    padding: .5em .5em;
    color:#656488;
    font-size: .8rem;
}
.statusContainer{
    display: flex;
    width: auto;
    gap: .25em;
    flex-wrap: wrap;
}
.status{
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    color: #cf222e;
    padding: 0 .5em;
    border-radius: 10px;
    cursor:default;
}

.sideContainer{
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    padding: 0;
    width: 40%;
    display: flex;
}
.sideContainer div{
    width: 100%;
    height: 100%;
}
.sideContainer form h1{
    margin: 20px 0 20px 20px;
}
.sideContainer input, .sideContainer textarea{
    border-radius: 0;
}
.sideContainer a{
    padding: .25em .5em;
}
.sideContainer select{
    padding: .375em .6em;
    margin: 0;
    border-right: 0;
    border-left: 0;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.sideContainer input, .sideContainer select, textarea{
    outline-color: #656488;
}

.sideContainer select:selection{
    border: 1px solid #656488;
}
input[type='date'].sideContainerDate{
    padding: .375rem .75rem;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-right: 0;
    border-left: 0;
    width: 100%;
}
button.sideContainerButton{
    background-color: #656488;
    color: #FFFEFE;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 0;
}
button.sideContainerButton:hover{
    background-color: #424158;
}

input[type='date']{
    padding: .4em .5em;
    border: 1px solid #DDDDDD;
    width: 200px;
}


input[type='radio']{
    padding: .5em .5em;
    border: 1px solid #DDDDDD;
}
input[type='radio']:checked{
    color: #656488;
}

